# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
/schema.prisma
/src-tauri/.env
/src-tauri/src/prisma_main_client.rs
/src-tauri/target/
/src-tauri/prisma/client/
/src-tauri/prisma/dev.db
/src-tauri/prisma/dev.db-journal

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

