@tailwind base;
@tailwind components;
@tailwind utilities;

/* Split.js */
.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}

body {
  overflow: hidden;
  height: 100vh;
}

#app {
  height: 100vh;
  display: grid; 
  grid-template-columns: 278px 1fr; 
  grid-template-rows: 57px 1fr; 
  gap: 0px 7px; 
  grid-template-areas: 
    "navbar navbar"
    "sidebar files"; 
}
.sidebar { 
  overflow: scroll; 
  grid-area: sidebar; }
.files {
  overflow: scroll;
  grid-area: files; }
.navbar { grid-area: navbar; }