@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow: hidden;
    height: 100vh;
    user-select: none;
}

#app {
    height: 100vh;
    display: grid;
    grid-template-columns: 278px 1fr;
    grid-template-rows: 40px 64px 1fr 230px;
    gap: 0 0;
    grid-template-areas:
    "tabs tabs"
    "navbar navbar"
    "sidebar files"
    "sidebar player";
}

.sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr calc(48px + 2rem);
    gap: 0px 0px;
    grid-template-areas:
    "sidebar-main"
    "sidebar-actions";
    overflow: scroll;
    grid-area: sidebar;
}

.sidebar-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: sidebar-actions;
}

.sidebar-main {
    overflow: scroll;
    grid-area: sidebar-main;
}

.files {
    grid-area: files;
}

.tabs {
    grid-area: tabs;
}

.navbar {
    grid-area: navbar;
}

.player {
    grid-area: player;
}

.resizer {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: calc(100% - 20px);
    width: 1px;
    --tw-border-opacity: 1,
    border-left-color: hsl(var(--b1) / var(--tw-bg-opacity));
    border-left-width: 1px;
    border-left-style: solid;
    cursor: col-resize;
    user-select: none;
    touch-action: none;
    padding: 0 2.5px;
}

.hidden-scrollbar {
  scrollbar-width: none;  /* Firefox */
  -ms-overflow-style: none;  /* IE et Edge */
}

.hidden-scrollbar::-webkit-scrollbar {
    display: none;  /* WebKit */
}

.div-table {
    @apply text-left text-sm;

    :where(.th, .td) {
        @apply px-4 py-3 align-middle;
    }

    .tr.active,
    .tr.active:nth-child(even),
    & -zebra .tbody .tr:nth-child(even) {
        @apply bg-base-200;
    }

    .tr.hover,
    .tr.hover:nth-child(even) {
        @apply [@media(hover:hover)]:hover:bg-base-200;
    }

    & -zebra {
        .tr.active,
        .tr.active:nth-child(even),
        & -zebra .tbody .tr:nth-child(even) {
            @apply bg-base-300;
        }
    }

    & -zebra .tr.hover,
    & -zebra .tr.hover:nth-child(even) {
        @apply [@media(hover:hover)]:hover:bg-base-300;
    }

    :where(.thead, .tbody) {
        :where(.tr:not(:last-child)),
        :where(.tr:first-child:last-child) {
            @apply border-b-base-200 border-b;
        }
    }

    :where(.thead, .tfoot) {
        @apply text-base-content/60 whitespace-nowrap text-xs font-bold;
    }
}






.input-sizer {
  position: relative;
  
  & input,
  textarea {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    appearance: none;
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
    outline: none; /* focus:outline-none equivalent */
  }
  
  &::after {
    content: attr(data-value) ' ';
    visibility: hidden;
    white-space: pre-wrap;
  }
  
}