@tailwind base;
@tailwind components;
@tailwind utilities;

/* Split.js */
.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}

body {
    overflow: hidden;
    height: 100vh;
}

#app {
    height: 100vh;
    display: grid;
    grid-template-columns: 278px 1fr;
    grid-template-rows: 64px 1fr 230px;
    gap: 0 0;
    grid-template-areas:
    "navbar navbar"
    "sidebar files"
    "sidebar player";
}

.sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr calc(48px + 2rem);
    gap: 0px 0px;
    grid-template-areas:
    "sidebar-main"
    "sidebar-actions";
    overflow: scroll;
    grid-area: sidebar;
}

.sidebar-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: sidebar-actions;
}

.sidebar-main {
    overflow: scroll;
    grid-area: sidebar-main;
}

.files {
    overflow: scroll;
    grid-area: files;
}

.navbar {
    grid-area: navbar;
}

.player {
    grid-area: player;
}

.resizer {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background: rgba(0, 0, 0, 0.5);
    cursor: col-resize;
    user-select: none;
    touch-action: none;
    opacity: 0;
}

.resizer.isResizing {
    background: blue;
    opacity: 1;
}

th:hover .resizer {
    opacity: 1;
}

